@use "../../styles/globals" as g;

.container{
    // background-color: red;
    // height: calc(g.$mobile-NavBar-height * .6);
    .logo{
        margin: 0;
        padding: 0;
        font-weight: 400;
        color: g.$white-color;
        // background-color: blue;
        @include g.display-large{
            width: auto;
            height: 50px;
            // background-color: ;
        }
    }
}