@use '../../styles/globals' as g;


.container{
    box-sizing: border-box;
    width: 100%;
    padding: g.$mobile-NavBar-height 0 15vw;
    color: g.$white-color;
    // background-color: red;
    @include g.create-flexbox(column, center);
    @include g.display-large{
        justify-content: flex-start;
        padding-top: g.$desk-NavBar-height;
    }
    .commentContainer{
        position: relative;
        box-sizing: border-box;
        z-index: 90;
        width: 100%;
        // background-color: red;
        @include g.create-flexbox(row, center);
        @include g.display-large{
            position: absolute;
            justify-content: flex-start;
            padding: 0 5vw;
        }
        .comment{
            position: relative;
            box-sizing: border-box;
            color: inherit;
            padding: 2vh 2vw;
            text-align: center;
            width: 80%;
            background-color: rgba(225, 145, 9, 0.064);
            border-radius: 14px;
            box-shadow: 0 0 10px 3px orange;
            @include g.display-large{
                padding: 10px 16px;
                width: 300px;
            }
        }
    }
    .dataContainer{
        box-sizing: border-box;
        position: relative;
        width: 90%;
        padding: 4vh 0 0;
        // background-color: blue;
        @include g.create-flexbox(column, center);
        gap: 6vw;
        @include g.display-large{
            align-items: center;
            flex-direction: row;
            top: 40px;
            max-width: 900px;
        }
        // background-color: blue;
        z-index: 30;
        .data{
            width: 100%;
            max-width: 500px;
            margin-bottom: 4vh;
            @include g.create-flexbox(column, space-between);
            // background-color: grey;
            @include g.display-large{
                align-items: flex-start;
            }
            .about{
                width: 100%;
                text-align: left;
                color: g.$main-color;
            }
            .text{
                // background-color: red;
                color: inherit;
                text-align: center;
                margin-bottom: 10px;
                @include g.display-large{
                    display:inline-block;
                    text-align: left;
                    line-height: 1.4;
                }
            }
       }
        .profileImg{
            position: relative;
            height: 70vw;
            border-radius: 5px;
            width: min(80vw, 80vh);
            height: auto; 
            max-width: 100%; 
            max-height: 70%; 
            display: block; 
        }
    }
}
.containerWhite{
    color: g.$dark-black-color;
}