@use '../../styles/globals' as g;

.container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 3000;
    background-color: rgba(0,0,0,.7);
    @include g.create-flexbox(row, center);
    .dataContainer{
        width: 50%;
        height: 50vh;
        color: inherit;
        border: 1px solid g.$grey-color;
        border-radius: 10px;
        background-color: inherit;
        @include g.create-flexbox(row, center);
        .text{
            // width: 70%;
            // height: 50%;
            color: inherit;
            font-size: 30px;
            border-radius: 10px;
            background-color: inherit;

        }
    }
}
.containerWhite{
    background-color: rgba(255,255,255,.5);
    color: g.$dark-black-color;
}