@use "../../styles/globals" as g;

.navList{ // ul
    position: absolute;
    box-sizing: border-box;
    list-style: none;
    @include g.create-flexbox(column, space-between);
    align-items: flex-start;
    width: 70%;
    min-width: 120px;
    max-width: 200px;
    top: calc(g.$mobile-NavBar-height - 16px + 3vh);
    left: -100%;
    transition: left .2s ease;
    z-index: 200;
    border-radius: 10px;
    // border-top: 2px solid g.$grey-color;
    // border-right: 2px solid g.$grey-color;
    // border-bottom: 2px solid g.$grey-color;
    background-color: rgba(11, 11, 11, 0.95);
    box-shadow: 7px 7px 5px 1px rgba(57, 57, 57, .4);
    height: calc(100vh - (g.$mobile-NavBar-height) - 20vh);
    font-weight: 500;
    padding: 10px;
    z-index: 60;
    @include g.display-large{
        position: relative;
        border: none;
        border-radius: none;
        padding: 0;
        box-shadow: none;
        flex-direction: row;
        top: 0;
        left: 0;
        height: auto;
        font-size: g.$desk-NavBar-font-size;
        font-weight: 300;
        width: 100%;
        min-width: 450px;
        background-color: transparent;
    }
    .li{
        box-sizing: border-box;
        width: 100%;
        padding-left: 10px;
        border: 1px solid g.$grey-color;
        @include g.display-large{
            padding: 0;
            border: none;
            width: auto;
        }
        .navLink{
            box-sizing: border-box;
            display: inline-block;
            text-decoration: none;
            text-align: left;
            position: relative;
            width: 100%;
            height: 8vh;
            line-height: 8vh;
            color: g.$white-color;
            transition: transform 0.3s ease;
            @include g.display-large{
                color: g.$white-color;
                width: none;
            }
        }
        .navLinkWhite{
            color: g.$dark-black-color;
        }
        .navLink:hover{
            // background-color: rgba(157, 157, 157, .1);
            color: g.$main-color;
            @include g.display-large{
                background-color: transparent;
                transform:scale(1.1);
            }
        }
    }
}
.navListWhite{
    background-color: rgba(195, 195, 195, 0.8);
    @include g.display-large{
        background-color: transparent;
    }
}
.show{// ul
    left: 0;
    transition: left .3s ease;
}