@use '../../styles/globals' as g;

.container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 15vw;
    background-color: red;
    @include g.create-flexbox(row, center);
    .slider {
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        height: 100%;
        width: 100%;
        z-index: 10;
        @include g.create-flexbox(row, center);
        .slide {
            position: absolute; // Establece el posicionamiento absoluto para cada imagen dentro del slider
            z-index: 1;
            top: 0; // Coloca las imágenes en la parte superior del contenedor
            opacity: 0; // Oculta inicialmente todas las imágenes
            transition: opacity 1.5s ease-in-out; // Agrega una transición suave a la opacidad
            width: 100%;
            align-items: center;
            .img{
                position: absolute;
                top: 0;
                height: 100vh;
                min-height: 100vh;
                width: 100%;
                object-fit: cover; /* La imagen se ajusta manteniendo su relación de aspecto, mostrando todo el contenido */
                @include g.display-large{
                
                }
            }
            &.active {
                opacity: 1; // Muestra la imagen activa
            }
        }
    }
    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.9);
        z-index: 20;
    }
    .dataContainer{
        position: absolute;
        top: 12vh;
        color: g.$white-color;
        height: 80%;
        width: 90%;
        padding-bottom: 5vh;
        // background-color: blue;
        @include g.create-flexbox(column, space-between);
        @include  g.display-large{
            flex-direction: row;
            gap: 6vw;
            max-width: 900px;
        }
        // background-color: blue;
        z-index: 30;
        .data{
            // height: 30vh;
            width: 100%;
            max-width: 600px;
            margin-bottom: 4vh;
            // gap: 500px;
            // background-color: blue;
            @include g.create-flexbox(column, space-between);
            gap: 2vh;
            @include g.display-large{
                align-items: flex-start;
            }
            .hi{
                width: 100%;
                text-align: left;
            }
            .name{
                width: 100%;
                text-align: center;
                color: g.$main-color;
                @include g.display-large{
                    text-align: left;
                }
            }
            .role{
                width: 100%;
                text-align: center;
                @include g.display-large{
                    text-align: left;
                }
            }
            .text{
                display: none;
                color: g.$white-color;
                text-align: center;
                @include g.display-large{
                    display:inline-block;
                    text-align: left;
                    max-width: 400px;
                }
            }
            .linksContainer{
                // background-color: red;
                width: 100%;
                max-width: 300px;
                @include g.create-flexbox(row, space-between);
                @include g.display-large{
                    margin-bottom: 10px;
                }
                .linkImg{
                    width:13vw;
                    min-width: 20px;
                    max-width: 40px;
                    border-radius: 50%;
                }
            }
            .dwlResumeContainer{
                height: 30px;
                width: 120px;
                text-decoration: none;
                text-align: center;
                line-height: 30px;
                color: g.$white-color;
                border-radius: 5px;
                background-color: g.$main-color;
            }
        }
        .profileImg{
            position: relative;
            height: 80%;
            min-height: 150px;
            max-height: 250px;
            border-radius: 5px;
        }

    }
}