@use '../../styles/globals' as g;

.container{
    width: 36%;
    max-width: 80px;
    @include g.create-flexbox(row, space-between);
    // background-color: green;
    .moon{
        box-sizing: border-box;
        font-size: 35px;
        width: 25px;
        height: 25px;
        fill: g.$white-color;
        z-index: 1000;
        cursor: pointer;

    }
    .moon:hover{
        background-color: rgba(157, 157, 157, .1);
        @include g.display-large{
            background-color: transparent;
            fill: g.$main-color;
            transform:scale(1.1);
        }
    }
}


