@use '../../styles/globals' as g;

.container{
    .enEs{
        box-sizing: border-box;
        display: inline-block;
        text-decoration: none;
        text-align: left;
        position: relative;
        width: 100%;
        height: 8vh;
        line-height: 8vh;
        color: g.$white-color;
        @include g.display-large{
            color: g.$white-color;
            width: 30px;
            height: 30px;
            border: 1px solid g.$white-color;
            border-radius: 50%;
        }
    }
    .enEs:hover{
        background-color: rgba(157, 157, 157, .1);
        color: g.$main-dark-color;
        @include g.display-large{
            background-color: transparent;
            color: g.$main-color;
            transform:scale(1.1);
        }
    }
}


