@use "../../styles/globals" as g;

.container{
    @include g.create-flexbox(column, center);
}
.menu{
    box-sizing: border-box;
    font-size: 35px;
    width: 20px;
    height: 20px;
    fill: g.$white-color;
    z-index: 1000;
    cursor: pointer;
    @include g.display-large{
        display: none;
    }
}