@use '../../styles/globals' as g;


.container{
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    // padding: 0;
    // background-color: red;
    color: g.$white-color;
    @include g.create-flexbox(column, center);
    .slider {
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        height: 100%;
        width: 100%;
        z-index: 10;
        @include g.create-flexbox(row, center);
        .slide {
            position: absolute; 
            z-index: 1;
            top: 0;
            opacity: 0;
            transition: opacity 1.5s ease-in-out;
            width: 100%;
            align-items: center;
            .img{
                position: absolute;
                top: 0;
                height: 100vh;
                min-height: 100vh;
                width: 100%;
                object-fit: cover; /* La imagen se ajusta manteniendo su relación de aspecto, mostrando todo el contenido */
                @include g.display-large{
                
                }
            }
            &.active {
                opacity: 1; // Muestra la imagen activa
            }
        }
    }
    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.9);
        z-index: 20;
    }
    .backWhite{
        background-color: rgba(255,255,255,.8);
    }
    .mainTitle{
        position: fixed;
        color: inherit;
        z-index: 100;
        padding: 10px 20px;
        top: g.$mobile-NavBar-height;
        background-color: inherit;
        @include g.display-large{
            top: g.$desk-NavBar-height;
        }
    }
    .projectsContainer{ //ul
        box-sizing: border-box;
        position: relative;
        top: calc(g.$mobile-NavBar-height + 40px);
        width: 90%;
        padding: 5vh 0;
        color: inherit;
        z-index: 30;
        // background-color: blue;
        @include g.create-flexbox(column, center);
        gap: 6vw;
        @include g.display-large{
            align-items: center;
            flex-direction: row;
            top: g.$desk-NavBar-height;
            max-width: 900px;
        }
        // background-color: blue;
        .project{// li
            width: 100%;
            max-width: 100%;
            margin-bottom: 4vh;
            @include g.create-flexbox(column, space-between);
            gap: 5vh;
            align-items: center;
            text-align: center;
            // background-color: yellow;
            @include g.display-large{
                align-items: flex-start;
            }
            .projectTitle{
                // background-color: green;
            }
            img{
                // background-color: red;
                width: min(90%,90%);
            }
            .projectDescription{
                color: inherit;
                text-align: center;
                // background-color: grey;
                @include g.display-large{
                    display:inline-block;
                    text-align: left;
                    max-width: 400px;
                }
            }
        }
    }
}
.containerWhite{
    background-color: rgba(255,255,255,.8);
    color: g.$dark-black-color;
}